@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.logo-text {
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px; /* ajusta según necesites */
    color: red;

    /* borde blanco */
    -webkit-text-stroke: 1px white; /* para Chrome/Safari */
    /* sombra negra difuminada */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}



.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
    border: 1px solid #ffc107; /* efecto iluminado */
}

.hero-banner {
    background-image: url("/ruta/tu-imagen.png"); /* pon la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px; /* ajusta la altura */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* texto en blanco */
}
